/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/


process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: PREPROCESS_FOR_PASCAL {
        publishDir = [
            path: { "${params.outdir}/${params.pipeline}" },
            mode: params.publish_dir_mode,
            pattern: "pascalInput/*"
        ]
    }

    withName: RUN_PASCAL {
        publishDir = [
            path: { "${params.outdir}/${params.pipeline}" },
            mode: params.publish_dir_mode,
            pattern: "pascalOutput/*"
        ]
    }

    withName: POSTPROCESS_PASCAL_OUTPUT {
        publishDir = [
            path: { "${params.outdir}/${params.pipeline}/" },
            mode: params.publish_dir_mode,
            pattern: "significantModules/*"
        ]
    }

    withName: GO_ANALYSIS {
        publishDir = [
            path: { "${params.outdir}/${params.pipeline}" },
            mode: params.publish_dir_mode,
            pattern: "${params.GO_summaries_path}/${params.trait}/*"
        ]
    }

    withName: MERGE_RESULTS {
        publishDir = [
            path: { "${params.outdir}/${params.pipeline}/${params.masterSummaries_path}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: COMPILE_PHASE1_RESULTS {
        publishDir = [
            path: { "${params.outdir}/${params.pipeline}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: FILTER_PARSE_MASTER_SUMMARY {
        publishDir = [
            path: { "${params.outdir}/${params.pipeline}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: GENERATE_OR_STATISTICS_DEFAULT {
        publishDir = [
            path: { "${params.outdir}/${params.pipeline}/results" },
            mode: params.publish_dir_mode,
            pattern: "raw/*"
        ]
    }

    withName: IDENTIFY_MEA_PASSING_GENES {
        publishDir = [
            [
                path: { "${params.outdir}/${params.pipeline}" },
                mode: params.publish_dir_mode,
                pattern: "summary/*"
            ],
            [
                path: { "${params.outdir}/${params.pipeline}" },
                mode: params.publish_dir_mode,
                pattern: "significant_module_connections/*"
            ]
        ]
    }
}
